#JamTablet{
  margin-top:20px;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  width:100%;
  background-color:#d2d2d2;

  .zouzouItem{
    width:100%;
    height:100px;
    margin-bottom: 10px;
    text-align:center;
    font-size: 1.2em;
    line-height: 100px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 0;
  }

  .leftPanel{
    flex-grow:1;
    width:33%;
    overflow: auto;
    padding-right: 10px;
  }

  .middlePanel{
    flex-grow:1;
    width:33%;
    background-color: red;
    overflow: auto;
    padding-right: 10px;
  }
  .rightPanel{
    flex-grow:1;
    width:33%;
    background-color: blue;
    overflow: auto;
  }

  .trackItem{
    margin-bottom: 10px;
    height: 45px;
    background-color: #0e4311;
    border: 3px solid black;
    margin-left: 28px;
  }

  .checkBoxTrack{
    top: -3px;
    left: -30px;
    float:left;
    position: relative;
    width: 45px;
    height:45px;
    background-color: white;
    border-radius: 50%;
    border: 3px solid black;
  }
  .checkedTrack{
    background-color: #4b4b4b;
  }

  .createGroupButton{
    display: none;
    opacity: 0;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #d2d2d2;
    position: absolute;
    border: 3px solid black;
    line-height: 100px;
    text-align:center;
    i{
      color: black;
      height: 100%;
      line-height: 100px;
      margin-top: 4px;
    }
  }

  .trackName{
    font-size: 1.2em;
    line-height: 45px;
    margin-right: 10px;
    float:right;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 74%;
    text-align:right;
  }

}