#jamPage{

  color : white;

  .sampleSelected{
    background-color: #4b4b4b;
    color: white;
  }

  h1{
    font-size: 3em;
    line-height: 100px;
  }

  .sample.groupSelected{
    margin-top:10px;
  }

  #samples{
    padding-left: 10px;
    padding-right: 10px;
    overflow:hidden;


    .groupSelected{
      background-color: #4b4b4b !important;
      color: white!important;

    }

    .groupHeader{
      padding-top:26px;
      padding-bottom:26px;
    }

    .sample{
      color: black;
      background-color: #d2d2d2;

      &:last-child{
        padding-bottom:0;
      }

      .groupHeaderSwitch{
        position: absolute;
        z-index: 10;
        left:10px;
        right:10px;
        height: 100px;
        margin-top: -26px;
        cursor: pointer;
      }

      .samplesContainer{
        overflow:hidden;
        display:none;
      }

      .groupeTracksCount{
        background-color: #4b4b4b;
        width:25px;
        height:25px;
        display:none;
        border-radius:50%;
      }

      .sampleGroup{
        display: inline;
        padding-left:10px;
      }

      h2{
        margin-bottom:0;
        padding-left:10px;
        padding-right:15px;
        font-weight: bold;
        font-size: 2em;
        height: 100px;

      }

      .trackContainer{
        height: 100px;
        width:auto;
        padding-left: 10px;
        border-top: 10px solid #d2d2d2;

        h3{
          display:inline;
          float:left;
          width: 70%;
          line-height:100px;
          text-align: left;
          font-size: 1.5em;
          cursor: pointer;
          margin-bottom:0;
          margin-top:0;
          overflow:hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .playButton{
          display:inline;
          float:right;
          cursor: pointer;
          width: 30%;
          height:100px;
        }
      }

      .zouzou{
        margin-top:0;
      }
    }

  }

}
